<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>blah</title>
  </head>
  <body>
  <ul>
    {{#each animals}}
    {{#if favorite}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
  </body>
</html>
