<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>blah</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>Hello, {{name}}! hgjhkl</p>
    <p> You were born in {{year}}</p>
  </body>
</html>
